### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

## Purchasing Analysis (Total)

In [2]:
unique_players = purchase_data['SN'].value_counts()

totalplayers = pd.DataFrame({"Total Players": [len(unique_players)]})
totalplayers.head()

   Total Players
0            576

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
purchase_data.head()

#unique items count stored as a dataframe
unique_items_count = len(purchase_data["Item Name"].value_counts())
average_purchase_price = purchase_data["Price"].mean()
total_purchases = len(purchase_data["Price"])
total_revenue = purchase_data["Price"].sum()

print(unique_items_count)
print(average_purchase_price)
print(total_purchases)
print(total_revenue)

purchasing_analysis = pd.DataFrame({"Unique Items Count": [unique_items_count], 
                                   "Average PurchasePrice": [round(average_purchase_price,2)],
                                    "Total Purchases": [total_purchases],
                                    "Total Revenue": [total_revenue]
                                   })
purchasing_analysis.head()

179
3.0509871794871795
780
2379.77

   Unique Items Count  Average PurchasePrice  Total Purchases  Total Revenue
0                 179                   3.05              780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
genders = pd.DataFrame(purchase_data.loc[:,['SN','Gender']])
unique_genders = genders.drop_duplicates(subset = 'SN')

unique_genders = pd.DataFrame(unique_genders['Gender'].value_counts())
total_people = unique_genders['Gender'].sum()
unique_genders["Percentage of Players"] = [round(gender/total_people *100 ,2) for gender in unique_genders['Gender']]

unique_genders.head()
# print(unique_genders['Gender'])

                       Gender  Percentage of Players
Male                      484                  84.03
Female                     81                  14.06
Other / Non-Disclosed      11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
male_data = purchase_data.loc[purchase_data['Gender'] == 'Male',:]
female_data = purchase_data.loc[purchase_data['Gender'] == 'Female',:]
other_data = purchase_data.loc[purchase_data['Gender'] == 'Other / Non-Disclosed',:]

# male_data.head()
# female_data.head()
# other_data.head()


purchases_gender = purchase_data.loc[:,['Gender']]
purchases_gender = pd.DataFrame(purchases_gender['Gender'].value_counts())
purchases_gender = purchases_gender.rename(columns={"Gender": "Purchase Count"})

purchases_gender["Average Purchase Price"] = [male_data['Price'].mean(), 
                                              female_data['Price'].mean(),
                                              other_data['Price'].mean()]



purchases_gender["Total Purchase Value"] = [male_data['Price'].sum(), 
                                              female_data['Price'].sum(),
                                              other_data['Price'].sum()]



purchases_gender["Avg Total Purchase per Person"] = [round(a/b,2) for a, b in  zip(purchases_gender["Total Purchase Value"], unique_genders['Gender'])]

purchases_gender["Average Purchase Price"] = [round(x,2) for x in purchases_gender["Average Purchase Price"]]
purchases_gender.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,3.02,1967.64,4.07
Female,113,3.20,361.94,4.47
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

ages = pd.DataFrame(purchase_data.loc[:,['SN','Age']])
ages = ages.drop_duplicates(subset = 'SN')
del ages['SN']

ages["Ages Summary"] = pd.cut(ages['Age'], age_bins, labels = group_names)


ages_data = pd.DataFrame(ages["Ages Summary"].value_counts().sort_index())

ages_data = ages_data.rename(columns = {"Ages Summary": "Total Count"})

ages_data["Percentage of Players"] = [round(count/len(ages['Age'])*100,2) for count in ages_data["Total Count"]]

ages_data

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [28]:
purchase_analysis = purchase_data

purchase_analysis["Ranges"] = pd.cut(purchase_analysis['Age'], age_bins, labels = group_names)

age_range_data = purchase_analysis.groupby(['Ranges'])


purchase_count = age_range_data['Purchase ID'].count()

total_purchase_value = age_range_data['Price'].sum()

unique_players = purchase_analysis.drop_duplicates(subset = 'SN').groupby(['Ranges'])
unique_players = unique_players['SN'].count()



purchase_by_age = pd.DataFrame(age_range_data['Purchase ID'].count())

purchase_by_age = purchase_by_age.rename(columns = {'Purchase ID': 'Purchase \nCount'})

purchase_by_age['Average Purchase Price'] = round((total_purchase_value/purchase_count),2)

purchase_by_age['Total Purchase Value'] = total_purchase_value

purchase_by_age['Avg Total Purchase Per Person'] = round((total_purchase_value/unique_players),2)

purchase_by_age.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Ranges,,,,
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [104]:
top_spenders = purchase_data[['SN','Price']]

top_spenders_df = top_spenders.groupby('SN').count().sort_values(by = ['Price'], ascending = False)

top_spend_total = purchase_data.groupby('SN')['Price'].sum()

top_spend_count = top_spenders_df['Price']

top_spend_avg = round(top_spend_total/top_spend_count,2)

top_spenders_df['Average Purchase Price'] = top_spend_avg
top_spenders_df['Total Purchase Value'] = top_spend_total

top_spenders_df = top_spenders_df.rename(columns = {'Price': 'Purchase Count'})

top_spenders_df

               Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                   5                    3.79                 18.96
Iral74                      4                    3.40                 13.62
Idastidru52                 4                    3.86                 15.45
Asur53                      3                    2.48                  7.44
Inguron55                   3                    3.70                 11.11
Aina42                      3                    3.07                  9.22
Ilarin91                    3                    4.23                 12.70
Idai61                      3                    2.74                  8.23
Umolrian85                  3                    2.71                  8.13
Ialallo29                   3                    3.95                 11.84
Tyisur83                    3                    1.79                  5.36
Tyidaim51                   3                    3.94                 11.83
Pheodaisun84                3                    2.77                  8.31
Hiaral50                    3                    1.40                  4.19
Haillyrgue51                3                    3.17                  9.50
Zontibe81                   3                    2.68                  8.03
Iri67                       3                    3.79                 11.37
Hada39                      3                    2.86                  8.57
Raesty92                    3                    2.91                  8.73
Rarallo90                   3                    3.02                  9.05
Chadolyla44                 3                    3.82                 11.46
Saedaiphos46                3                    2.94                  8.83
Saistyphos30                3                    3.44                 10.33
Siallylis44                 3                    3.46                 10.37
Chamimla85                  3                    2.10                  6.30
Silaera56                   3                    2.83                  8.48
Chamjask73                  3                    4.61                 13.83
Chanastnya43                3                    2.94                  8.82
Strithenu87                 3                    3.39                 10.18
Sondastsda82                3                    2.63                  7.89
...                       ...                     ...                   ...
Haerith37                   1                    1.66                  1.66
Iduelis31                   1                    1.10                  1.10
Hiral75                     1                    1.98                  1.98
Idaisuir85                  1                    3.15                  3.15
Idacal95                    1                    2.07                  2.07
Iathenudil29                1                    4.60                  4.60
Iathem87                    1                    3.19                  3.19
Iasursti71                  1                    1.66                  1.66
Iasurriacal29               1                    4.07                  4.07
Iarallo65                   1                    1.75                  1.75
Iana95                      1                    3.10                  3.10
Ialidru40                   1                    3.16                  3.16
Iadueria43                  1                    1.71                  1.71
Hyaduesu61                  1                    4.23                  4.23
Hisridru55                  1                    3.08                  3.08
Hilaerin92                  1                    3.61                  3.61
Haerithp41                  1                    4.40                  4.40
Hiasurria41                 1                    1.61                  1.61
Hiarideu73                  1                    2.50                  2.50
Heunadil74                  1                    1.54                  1.54
Heudai45                    1                    3.47                  3.47
Heollyriap59                1                    3.47                  3.47
Heollyra92                  1                    3.07                  3.07
Hariphos58                  1                    2.05                  2.05
Hallysucal81                1                    1.66                  1.66
Hala31                      1                    1.02                  1.02
Haisurra41                  1                    4.40                  4.40
Hailaphos89                 1                    3.81                  3.81
Haestyphos66                1                    1.97                  1.97
Iskosian40                  1                    3.07                  3.07

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [107]:
pop_items = purchase_data[['Item ID','Item Name','Price']]

popular_items = pop_items.groupby(['Item ID', 'Item Name'])
popular_items = popular_items.count().sort_values(by = 'Price', ascending = False)

total_purchase_value = pop_items.groupby(['Item ID', 'Item Name'])['Price'].sum()
purchase_count = pop_items.groupby('Item Name').count()

popular_items['Item Price'] = total_purchase_value/popular_items['Price']
popular_items['Total Purchase Value'] = total_purchase_value

popular_items.head()

,,Price,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [108]:
most_profitable = popular_items.sort_values(by ='Total Purchase Value', ascending = False)
most_profitable

,,Price,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80
59,"Lightning, Etcher of the King",8,4.23,33.84
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
78,"Glimmer, Ender of the Moon",7,4.40,30.80
72,Winter's Bite,8,3.77,30.16
60,Wolf,8,3.54,28.32
179,"Wolf, Promise of the Moonwalker",6,4.48,26.88
160,Azurewrath,6,4.40,26.40
25,Hero Cane,6,4.35,26.10
37,"Shadow Strike, Glory of Ending Hope",8,3.16,25.28
139,"Mercy, Katana of Dismay",5,4.94,24.70
128,"Blazeguard, Reach of Eternity",5,4.91,24.55
138,"Peacekeeper, Wit of Dark Magic",5,4.74,23.70
141,Persuasion,7,3.19,22.33
87,"Deluge, Edge of the West",5,4.43,22.15
159,"Oathbreaker, Spellblade of Trials",7,3.08,21.56
136,Ghastly Adamantite Protector,6,3.58,21.48
65,Conqueror Adamantite Mace,5,4.24,21.20
101,Final Critic,5,4.19,20.95
102,Avenger,6,3.44,20.64
133,Faith's Scimitar,5,4.09,20.45
39,"Betrayal, Whisper of Grieving Widows",5,3.94,19.70
111,Misery's End,4,4.89,19.56
165,Bone Crushing Silver Skewer,4,4.86,19.44
52,Hatred,4,4.84,19.36
75,Brutality Ivory Warmace,8,2.42,19.36
...,...,...,...,...
124,Venom Claymore,4,1.29,5.16
0,Splinter,4,1.28,5.12
155,War-Forged Gold Deflector,5,1.01,5.05
48,"Rage, Legacy of the Lone Victor",2,2.48,4.96
158,"Darkheart, Butcher of the Champion",2,2.45,4.90
51,Endbringer,1,4.66,4.66
134,Undead Crusader,1,4.50,4.50
30,Stormcaller,2,2.21,4.42
135,Warped Diamond Crusader,3,1.40,4.20
91,Celeste,1,4.17,4.17
177,"Winterthorn, Defender of Shifting Worlds",2,2.08,4.16
70,Hope's End,4,1.03,4.12
115,Spectral Diamond Doomblade,2,2.04,4.08
69,"Frenzy, Defender of the Harvest",2,1.98,3.96
47,"Alpha, Reach of Ending Hope",1,3.58,3.58
180,Stormcaller,1,3.36,3.36
27,"Riddle, Tribute of Ended Dreams",1,3.30,3.30
183,Dragon's Greatsword,3,1.09,3.27
31,Trickster,2,1.55,3.10
168,"Sun Strike, Jaws of Twisted Visions",2,1.48,2.96
90,Betrayer,1,2.94,2.94
33,Curved Axe,2,1.16,2.32
26,Unholy Wand,2,1.12,2.24
118,"Ghost Reaver, Longsword of Magic",1,2.17,2.17
28,"Flux, Destroyer of Due Diligence",2,1.06,2.12
125,Whistling Mithril Warblade,2,1.00,2.00
126,Exiled Mithril Longsword,1,2.00,2.00
23,Crucifer,1,1.99,1.99
104,Gladiator's Glaive,1,1.93,1.93
42,The Decapitator,1,1.75,1.75